/* Адаптив изображений */

/* Десктопы */
@media (min-width: 1024px) {
    /* Шапка */
    header > div > p{
        margin-left: 50px;
    }
    #question{
        margin-right: 50px;
    }
    #header-tg{
        margin-right: 20px;
    }
    #header-call{
        margin-right: 50px;
    }
    /* Конец шапки */

    .UTZ{
        background: url("../img/figma1300.png") center / cover no-repeat;
    }
}

/* Для планшетов */
@media (max-width: 1023px) {
    /* --- УТОЧНИ --- */
    h2{
        font-size: 28px;
    }
    h3{
        font-size: 24px;
    }
    p, li{
        font-size: 16px;
    }
    /* ---------------------------- */

    /* Шапка */
    header > div > p{
        margin-left: 30px;
    }
    #question{
        margin-right: 30px;
    }
    #header-tg{
        display: none;
    }
    #header-tg-small{
        display: block;
        margin-right: 15px;
        height: 38px;
    }
    #header-tg-small > img{
        width: 38px;
        height: 38px;
    }
    #header-call{
        margin-right: 30px;
    }
    /* Конец шапки */

    /* УТЗ */
    .UTZ{
        background: url("../img/figma1300.png") center / cover no-repeat;
        height: 500px;
    }
    .UTZ > h1{
        font-size: 32px;
    }
    .UTZ > p{
        font-size: 20px;
    }
    .UTZ > a{
        width: 217px;
        height: 48px;
        font-size: 20px;
    }

    /* Что такое курсинг? */
    .grid_1-1{
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }
    #what2-text{
        order: 1;
    }
    #what2-img{
        order: 2;
    }
    section img{
        width: 87.5%;
        justify-self: center;
        align-self: center;
    }

    /* Правила проведения */
    #rules2-text{
        order: 1;
    }
    #rules2-img{
        order: 2;
    }

    /* Запишитесь на тренировки */
    #training-text{
        order: 2;
    }
    #training-img{
        order: 1;
    }

    
}

/* Для мобильных */
@media (max-width: 719px) {
    /* --- УТОЧНИ --- */
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 22px;
    }
    p, li{
        font-size: 16px;
    }
    /* ---------------------------- */

    /* Шапка */
    header{
        padding: 0 5px 0 5px;
    }
    header > div > p{
        font-size: 12px;
        margin-left: 10px;
    }
    #question{
        margin-right: 10px;
    }
    #header-tg{
        display: none;
    }
    #header-tg-small{
        display: block;
        margin-right: 5px;
        height: 38px;
    }
    #header-tg-small > img{
        width: 38px;
        height: 38px;
    }
    #header-call{
        display: none;
    }
    #header-call-small{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 38px;
        height: 38px;

        background-color: #FF9915;
        border-radius: 35px;
        margin-right: 10px;
    }
    
    /* УТЗ */
    .UTZ{
        background: url("../img/figma480.png") center / cover no-repeat;
        height: 445px;
    }
    .UTZ > h1{
        font-size: 26px;
        padding-top: 70px;
    }
    .UTZ > p{
        font-size: 20px;
    }
    .UTZ > a{
        width: 217px;
        height: 48px;
        font-size: 20px;
    }

    /* Что такое курсинг? */
    section{
        padding: 0 5px 30px 5px;
    }
    .grid_1-1{
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }
    #what2-text{
        order: 1;
    }
    #what2-img{
        order: 2;
    }
    section img{
        width: 100%;
        justify-self: center;
        align-self: center;
    }

    /* Правила проведения */
    #rules2-text{
        order: 1;
    }
    #rules2-img{
        order: 2;
    }

    /* Когда и где (Map) */
    .grid-map{
        grid-template-columns: 1fr;
    }
    
    /* Запишитесь на тренировки */
    #training-text{
        order: 2;
    }
    #training-img{
        order: 1;
    }

    /* Footer */
    footer{
        grid-template-columns: 1fr 1fr;
        padding: 30px 5px;
    }
    footer > div{
        padding: 0 5px 0 5px;
    }
    footer p{
        font-size: 12px;
    }
}

/* Для малых мобильных */
@media (max-width: 450px) {
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 23px;
    }
    h3{
        font-size: 20px;
    }

    /* Шапка */
    #logo-wrapper{
        width: 60px;
        height: 45px;
    }
    #logo-wrapper img{
        width: 60px;
        height: 45px;
    }

    header > div > p{
        font-size: 10px;
        margin-left: 5px;
    }
    #burger-wrapper{
        width: 30px;
        height: 30px;
    }
    #burger-wrapper img{
        width: 21px;
        height: 15px;
    }
    #question{
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    #question img{
        width: 9px;
    }

    #header-tg{
        display: none;
    }
    #header-tg-small{
        display: block;
        margin-right: 5px;
        width: 30px;
        height: 30px;
    }
    #header-tg-small > img{
        width: 30px;
        height: 30px;
    }

    #header-call{
        display: none;
    }
    #header-call-small{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 30px;
        height: 30px;

        background-color: #FF9915;
        border-radius: 35px;
        margin-right: 10px;
    }
    #header-call-small img{
        width: 17px;
        height: 17px;
    }

    /* УТЗ */
    .UTZ{
        height: 500px;
    }
    .UTZ h1{
        padding-top: 115px;
    }

    /* Плюсы курсинга */
    .plusses-flex-item {
        flex-basis: 80%;
    }

    /* Тренировки */
    #training a {
        width: 200px;
        height: 50px;
        font-size: 20px;
    }
}



/* Для секции с плюсами курсинга */
@media (max-width: 950px) {
    #plusses-flex-wrap{
        flex-wrap: wrap;
    }
    .plusses-flex-item{
        flex-basis: 40%;
    }
    .plusses-item-divider{
        margin-bottom: 15px;
    }
    #plusses-item-divider-2{
        display: none;
    }
    #curved-1{
        position: absolute;
        top: 100px;
        left: 32%;
        width: 38.3%;
    }
    #curved-2{
        display: none;
    }
    #curved-3{
        position: absolute;
        top: 100px;
        left: 32%;
        width: 38.3%;
    }
}
@media (max-width: 490px) {
    .plusses-flex-item{
        flex-basis: 60%;
    }
    #plusses-item-divider-1{
        display: none;
    }
    #plusses-item-divider-2{
        display: none;
    }
    #plusses-item-divider-3{
        display: none;
    }
    #curved-1{
        display: none;
    }
    #curved-2{
        display: none;
    }
    #curved-3{
        display: none;
    }
}

/* -------------------- Конец адаптива -------------------- */
