
/* Для планшетов */
@media (max-width: 1023px) {
    /* --- УТОЧНИ --- */
    h2{
        font-size: 28px;
    }
    h3{
        font-size: 24px;
    }
    p, li{
        font-size: 16px;
    }
    /* ---------------------------- */

    /* Шапка */
    header > div > p{
        margin-left: 30px;
        font-size: 14px;
    }
    #header-call{
        margin-right: 30px;
    }
    /* Конец шапки */

    /* УТЗ */
    .UTZ{
        background: url("../img/figma1300.png") center / cover no-repeat;
        height: 500px;
    }
    .UTZ > h1{
        font-size: 32px;
    }
    .UTZ > p{
        font-size: 20px;
    }
    .UTZ > a{
        width: 217px;
        height: 48px;
        font-size: 20px;
    }

    /* Что такое курсинг? */
    .grid_1-1{
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }
    #what2-text{
        order: 1;
    }
    #what2-img{
        order: 2;
    }
    section img{
        width: 87.5%;
        justify-self: center;
        align-self: center;
    }

    /* Правила проведения */
    #rules2-text{
        order: 1;
    }
    #rules2-img{
        order: 2;
    }

    /* Запишитесь на тренировки */
    #training-text{
        order: 2;
    }
    #training-img{
        order: 1;
    }

    
}

/* Для мобильных */
@media (max-width: 780px) {
    /* --- УТОЧНИ --- */
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 22px;
    }
    p, li{
        font-size: 16px;
    }
    /* ---------------------------- */

    /* Шапка */
    header{
        padding: 0 15px 0 15px;
    }
    header > div > p{
        font-size: 12px;
        margin-left: 10px;
    }
    #header-call{
        display: none;
    }
    #header-call-small{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 38px;
        height: 38px;

        background-color: #FF9915;
        border-radius: 35px;
        margin-right: 15px;
    }
    
    /* УТЗ */
    .UTZ{
        background: url("../img/figma480.png") center / cover no-repeat;
        height: 445px;
    }
    .UTZ > h1{
        font-size: 26px;
        padding-top: 70px;
    }
    .UTZ > p{
        font-size: 20px;
    }
    .UTZ > a{
        width: 217px;
        height: 48px;
        font-size: 20px;
    }

    /* Что такое курсинг? */
    section{
        padding: 15px 30px 30px 30px;
    }
    .grid_1-1{
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }
    #what2-text{
        order: 1;
    }
    #what2-img{
        order: 2;
    }
    section img{
        width: 100%;
        justify-self: center;
        align-self: center;
    }

    /* Правила проведения */
    #rules2-text{
        order: 1;
    }
    #rules2-img{
        order: 2;
    }

    /* Когда и где (Map) */
    .grid-map{
        grid-template-columns: 1fr;
    }
    
    /* Запишитесь на тренировки */
    #training-text{
        order: 2;
    }
    #training-img{
        order: 1;
    }

    /* Отзывы */
    .review-card{
        min-width: 0;
    }

    /* Footer */
    footer{
        grid-template-columns: 1fr 1fr;
        padding: 30px 15px;
    }
    footer > div{
        padding: 0 5px;
    }
    footer p{
        font-size: 12px;
    }
}

/* Для малых мобильных */
@media (max-width: 450px) {
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 23px;
    }
    h3{
        font-size: 20px;
    }

    /* Шапка */
    #logo-wrapper{
        width: 60px;
        height: 45px;
    }
    #logo-wrapper img{
        width: 60px;
        height: 45px;
    }
    header{
        padding: 0 10px;
    }
    header > div > p{
        font-size: 12px;
        margin-left: 5px;
    }
    

    #header-call{
        display: none;
    }
    #header-call-small{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 30px;
        height: 30px;

        background-color: #FF9915;
        border-radius: 35px;
        margin-right: 10px;
    }
    #header-call-small img{
        width: 17px;
        height: 17px;
    }

    /* УТЗ */
    section{
        padding: 15px 20px 30px 20px;
    }
    .UTZ{
        height: 520px;
    }
    .UTZ h1{
        padding-top: 115px;
    }

    /* Плюсы курсинга */
    .plusses-flex-item {
        flex-basis: 80%;
    }

    /* Тренировки */
    #training a {
        width: 200px;
        height: 50px;
        font-size: 20px;
    }

    footer{
        padding: 30px 10px;
    }
}
/* --------------------------------------- */

/* Для header'а */
@media (max-width: 830px) {
    .menu__icon{
        margin-left: 30px;
    }
    #header-call{
        margin-right: 15px;
    }
}
@media (max-width: 575px) {
    .relative_header .messengers{
        display: none;
    }
}

/* --------------------------------------- */

/* Для секции с критериями курсинга */
@media (max-width: 1370px) {
    #new-line-3{
        width: 100%;
    }
    #criteria-item-divider-3{
        display: none;
    }
}
@media (max-width: 841px) {
    #new-line-2{
        width: 100%;
    }
    #new-line-3{
        display: none;
    }
    #new-line-4{
        width: 100%;
    }
    #criteria-item-divider-2{
        display: none;
    }
    #criteria-item-divider-3{
        display: block;
    }
    #criteria-item-divider-4{
        display: none;
    }
}
@media (max-width: 580px) {
    #new-line-1{
        width: 100%;
    }
    #new-line-2{
        width: 100%;
    }
    #new-line-3{
        display: block;
        width: 100%;
    }
    #new-line-4{
        width: 100%;
    }
    #criteria-item-divider-1{
        display: none;
    }
    #criteria-item-divider-3{
        display: none;
    }
}
/* --------------------------------------- */

/* Для секции с плюсами курсинга */
@media (max-width: 980px) {
    #plusses-flex-wrap{
        flex-wrap: wrap;
    }
    .plusses-flex-item{
        flex-basis: 40%;
    }
    .plusses-item-divider{
        margin-bottom: 15px;
    }
    #plusses-item-divider-2{
        display: none;
    }
    #curved-1{
        position: absolute;
        top: 100px;
        left: 32%;
        width: 38.3%;
    }
    #curved-2{
        display: none;
    }
    #curved-3{
        position: absolute;
        top: 100px;
        left: 32%;
        width: 38.3%;
    }
}
@media (max-width: 520px) {
    .plusses-flex-item{
        flex-basis: 60%;
    }
    #plusses-item-divider-1{
        display: none;
    }
    #plusses-item-divider-2{
        display: none;
    }
    #plusses-item-divider-3{
        display: none;
    }
    #curved-1{
        display: none;
    }
    #curved-2{
        display: none;
    }
    #curved-3{
        display: none;
    }
}

/* Для секции с отзывами */
@media (max-width: 1661px) {
    #transparent-divider-2{
        display: none;
    }
    #new-line-6{
        width: 100%;
    }
    .review-card-divider{
        height: 300px;
    }
    #review-card-2{
        margin-right: 0;
    }
    #review-card-3{
        margin: 0;
    }
}
@media (max-width: 1135px) {
    #transparent-divider-1{
        display: none;
    }
    #new-line-5{
        width: 100%;
    }
    #review-card-1{
        margin: 0;
    }
    #review-card-2{
        margin: 0;
    }
}
/* -------------------- Конец адаптива -------------------- */