/* only не позволяет браузерам применять медиа запросы, чтобы они всё не поломали */
@media only screen and (max-width: 1440px) {
    
}

@media only screen and (max-width: 1024px) {
    .container{
        width: 92%;
    }
    input[type="text"]{
        width: 80%;
    }
    .todo-task{
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 425px) {
    
}
